        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }
        
        html,
        body {
            width: 100%;
            height: 100%;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        #floatingButton {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0.7%;
            right: 7%;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            z-index: 999999999999999;
            background-color: #efefef;
        }
        
        #floatingButton>i {
            margin-top: 10px;
            margin-left: 13px;
            color: black;
        }
        
        #halfscreennav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: -100vh;
            z-index: 99999999999999999;
            width: 100%;
            min-height: 60vh;
            background-color: #CDA64E;
        }
        
        #halfscreennav i {
            position: absolute;
            top: 7%;
            right: 5%;
            cursor: pointer;
            font-size: 20px;
            color: #fff;
        }
        
        .portion {
            width: 32%;
            min-height: 48vh;
            padding: 30px;
            color: #fff;
            /* background-color: red; */
        }
        
        .portion h2 {
            margin-right: 80%;
            font-family: 'Playfair Display';
            font-weight: 100;
        }
        
        .halfnavlinks {
            height: 70%;
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            justify-content: space-evenly;
        }
        
        .halfnavlinks a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            transition: all ease-in-out .35s;
        }
        
        .halfnavlinks a:hover {
            color: #E32458;
            font-weight: 500;
            font-size: 14px;
        }
        
        #nav {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;
            position: absolute;
            position: fixed;
            z-index: 99999000;
            width: 100%;
            box-shadow: 2px 2px 9px rgb(43, 43, 43);
            height: 7%;
        }
        
        #nav>h5 {
            margin-left: 50px;
            font-family: 'Roboto', 'san-serif';
            font-size: 17px;
            color: #06D6F8;
        }
        
        #navLinks {
            margin-right: 120px;
        }
        
        #nav a {
            color: rgb(48, 48, 48);
            font-size: 1vw;
            font-weight: 600;
            margin-left: 20px;
            text-decoration: none;
        }
        
        #nav #navLinks a:hover {
            color: rgb(255, 95, 95);
            font-weight: 600;
            cursor: pointer;
        }
        
        #nav #navLinks a:nth-child(5) {
            margin-left: 30px;
            margin-top: -2%;
            color: white;
            padding: 10px 16px;
            background-color: #5B51B5;
            border-radius: 56px;
            font-size: 12px;
            text-decoration: none;
        }
        
        #nav #navLinks img {
            margin-left: 50px;
            width: 20px;
            transition: all ease-in-out .2s;
        }
        
        #nav #navLinks img:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
        
        #back {
            position: fixed;
            display: flex;
            width: 100%;
            height: 100%;
            background-color: #030710;
        }
        
        #left {
            position: relative;
            width: 45%;
            height: 100%;
        }
        
        #detailsOfOverlay {
            display: none;
        }
        
        #left #landingPageContent {
            position: absolute;
            top: 48%;
            left: 70.2%;
            transform: translate(-50%, -50%);
            width: 80%;
            min-height: 300px;
            color: #fff;
        }
        
        #landingPageContent h3 {
            font-size: 2vw;
            margin-bottom: 5px;
        }
        
        #left #landingPageContent h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 4.3vw;
            line-height: 50px;
            font-weight: 600;
            color: rgb(255, 107, 107);
            margin-bottom: 15px;
        }
        
        #left #landingPageContent h4 {
            font-size: 1.4vw;
            letter-spacing: 2px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        
        #left #landingPageContent button {
            padding: 2% 10%;
            background-color: #040D21;
            border: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #06D6F8;
            font-family: 'Roboto', sans-serif;
            font-size: 0.5w;
            box-shadow: 2px 2px 9px rgb(8, 8, 8);
        }
        
        #left #landingPageContent #br {
            font-weight: 700;
        }
        
        #right {
            display: flex;
            width: 55%;
            height: 100%;
        }
        
        #right #img {
            width: 88%;
            height: 100%;
            background-size: cover;
            background-position: bottom;
        }
        
        #scroll {
            margin-right: 50px;
            width: 100px;
            height: 16px;
            position: relative;
            border: 1px solid grey;
            border-radius: 50px;
        }
        
        #scroll #circle {
            position: absolute;
            top: 30%;
            left: 75%;
            align-items: center;
            width: 5px;
            height: 5px;
            border: none;
            border-radius: 50px;
            background-color: #fff;
        }
        
        #sideLinks {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 12%;
            height: 100%;
            position: absolute;
            top: 90%;
        }
        
        #sideLinks #sideLinksDiv {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            color: #fff;
            transform: rotate(-90deg) translate(50%, 0);
            /* background-color: red; */
        }
        
        #sideLinksDiv #img1 {
            margin-left: 90px;
            transform: rotate(270deg)
        }
        
        #sideLinksDiv #img2 {
            margin-right: 90px;
            transform: rotate(270deg)
        }
        
        #sideLinksDiv #next {
            opacity: 0.2;
            margin-right: 17px;
        }
        
        #sideLinksDiv a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            margin-left: 52px;
            font-weight: 500;
        }
        
        #grp26 {
            position: absolute;
            top: 14%;
            left: 37%;
            width: 10;
            height: 10%;
        }
        
        #go {
            position: absolute;
            z-index: 99999999999999;
            top: 5%;
            left: 40%;
            width: 20%;
            height: 70%;
            transform: rotate(2deg);
        }
        
        #grp261 {
            position: absolute;
            top: 30%;
            left: 60%;
            width: 500;
            height: 64%;
        }
        
        #poly22 {
            position: absolute;
            top: 20%;
            right: 10%;
            width: 10px;
            height: 10px;
        }
        
        #poly23 {
            position: absolute;
            top: 30%;
            right: 10%;
            width: 20px;
            height: 20px;
        }
        
        #poly24 {
            position: absolute;
            top: 17%;
            right: 20%;
            width: 30px;
            height: 30px;
        }
        
        #poly25 {
            position: absolute;
            top: 19%;
            right: 33%;
            width: 20px;
            height: 20px;
        }
        
        #poly25 {
            position: absolute;
            top: 15%;
            right: 35%;
            width: 20px;
            height: 20px;
        }
        
        #poly26 {
            position: absolute;
            top: 27%;
            right: 26%;
            width: 15px;
            height: 15px;
        }
        
        #poly27 {
            position: absolute;
            top: 21%;
            right: 30%;
            width: 10px;
            height: 10px;
        }
        
        #poly28 {
            position: absolute;
            top: 24%;
            right: 38%;
            width: 20px;
            height: 20px;
        }
        
        #poly29 {
            position: absolute;
            top: 20%;
            right: 39%;
            width: 20px;
            height: 20px;
        }
        
        #poly30 {
            position: absolute;
            top: 30%;
            right: 4%;
            width: 10px;
            height: 10px;
        }
        
        #poly31 {
            position: absolute;
            top: 30%;
            right: 18%;
            width: 20px;
            height: 20px;
        }
        
        #textonlandingpage {
            position: absolute;
            left: 13.5%;
            bottom: 13%;
            width: 37%;
            height: 100px;
        }
        
        #textonlandingpage hr {
            width: 24%;
            height: 5px;
            background-color: white;
        }
        
        #textonlandingpage p {
            margin-top: 5px;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: rgb(197, 197, 197);
        }
        
        #textonlandingpage #joinstudy {
            color: rgb(255, 102, 102);
            font-weight: 700;
        }
        
        #sidebar {
            position: absolute;
            right: 2%;
            top: 35%;
            width: 30px;
            height: 72%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        #sidebar #hr {
            width: 1px;
            height: 30%;
            border: none;
            background-color: rgb(59, 59, 59);
        }
        
        #sidebar>h6 {
            width: 1000%;
            position: absolute;
            top: 57%;
            letter-spacing: 1px;
            color: grey;
            font-size: 8px;
            text-transform: uppercase;
            transform: rotate(90deg);
        }
        
        #sidebar #hr1 {
            margin-top: 147px;
            width: 1px;
            font-weight: 200;
            height: 30%;
            border: none;
            background-color: rgb(58, 58, 58);
        }
        
        #sidebar #expert {
            color: white;
            border-bottom: 2px solid #5B51B5;
            padding: 3px;
        }
        
        #monthscroll {
            width: 300px;
            height: 100px;
            position: absolute;
            bottom: 0%;
            left: 50%;
        }
        
        #monthscroll #round {
            width: 45px;
            height: 45px;
            position: absolute;
            left: 40%;
            border-radius: 50px;
            border: 5px solid rgb(255, 83, 83);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #monthscroll #round1 {
            width: 29px;
            height: 29px;
            background-color: #5B51B5;
            border-radius: 50px;
            border: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', 'sans-serif';
        }
        
        #monthscroll #checkout {
            position: absolute;
            left: 11%;
            top: 65%;
            color: rgb(95, 95, 95);
            font-weight: 500;
        }
        
        #monthscroll hr {
            position: absolute;
            left: 46.5%;
            border: none;
            width: 5px;
            bottom: 0;
            height: 40%;
            background-color: white;
        }
        
        #monthscroll #month {
            position: absolute;
            right: 11%;
            top: 65%;
            font-weight: 500;
            color: white;
        }
        
        #monthscroll #roadmap {
            margin-left: 5px;
            font-weight: 600;
            color: rgb(255, 88, 88);
        }
        /* main website */
        
        #mainWebsite {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 100%;
            z-index: 9999999;
            width: 100%;
            min-height: 100vh;
            background-color: white;
        }
        
        #greyDiv {
            padding: 40px;
            width: 97%;
            height: 150vh;
            background-color: #EDEDED;
        }
        
        #greyDiv h1 {
            font-family: 'PlayFair Display';
            color: #707070;
            font-size: 40px;
            font-weight: 100;
        }
        
        #greyDiv p {
            font-size: 12px;
            width: 67%;
        }
        
        #collectionsDiv {
            display: flex;
            width: 100%;
            min-height: 130vh;
            margin-top: 70px;
            padding-left: 70px;
        }
        
        #oneDress {
            width: 30%;
            min-height: 300px;
            /* background-color: red; */
        }
        
        #oneDress h4 {
            font-family: 'PlayFair Display';
            font-size: 26px;
            line-height: 32px;
            font-weight: 100;
            color: #707070;
        }
        
        #oneDress p {
            font-size: 11px;
            width: 100%;
            line-height: 20px;
            color: #8a8a8a;
            margin-top: 15px;
        }
        
        #oneDress img {
            width: 80%;
            margin-left: -10px;
        }
        
        #oneDress>#button {
            width: 150px;
            margin-top: -10px;
        }
        
        #twoDress {
            position: relative;
            width: 80%;
            margin-top: 100px;
            min-height: 500px;
            overflow: hidden;
            /* background-color: rgb(145, 47, 47); */
        }
        
        #twoDress>img {
            position: absolute;
            top: -0%;
            right: -35%;
            width: 88%;
        }
        
        #detailsTwoDress {
            margin-top: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 40%;
            min-height: 200px;
            /* background-color: red; */
        }
        
        #detailsTwoDress h4 {
            text-align: right;
        }
        
        #detailsTwoDress p {
            width: 100%;
            text-align: right;
        }
        
        #detailsTwoDress #button {
            width: 140px;
            margin-top: 10px;
        }
        
        #twoDress h4 {
            font-family: 'PlayFair Display';
            font-size: 22px;
            line-height: 32px;
            font-weight: 100;
            color: #707070;
        }
        
        #twoDress p {
            font-size: 11px;
            width: 100%;
            line-height: 20px;
            color: #8a8a8a;
            margin-top: 15px;
        }
        
        #mainWebsite #about {
            width: 100%;
            min-height: 100vh;
            padding: 40px;
            background-color: white;
        }
        
        #about #deals {
            margin-top: 100px;
        }
        
        #about #deals h1 {
            font-family: 'Playfair Display';
            color: #707070;
            font-weight: 100;
            font-size: 40px;
            text-shadow: 2px 2px 10px rgba(255, 117, 117, 0.363);
        }
        
        #deals p {
            width: 50%;
            margin-top: 10px;
            font-size: 12px;
        }
        
        @media only screen and (max-width: 680px) {
            /* mobile */
            #sideLinks {
                display: none;
            }
            #textonlandingpage {
                display: none;
            }
            #sidebar {
                display: none;
            }
            #nav>h5 {
                color: rgb(255, 255, 255);
                margin-left: 6px;
            }
            #detailsOfOverlay {
                display: initial !important;
                width: 100% !important;
                height: 100% !important;
                position: absolute;
                top: 56%;
            }
            #detailsOfOverlay>h1 {
                color: rgb(255, 93, 93);
                font-weight: 700 !important;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif !important;
            }
            #detailsOfOverlay>h4 {
                font-weight: 400 !important;
                margin-bottom: 1px !important;
            }
            #detailsOfOverlay>h4>#br {
                font-weight: 600 !important;
            }
            #detailsOfOverlay>#req {
                color: #06D6F8;
                background-color: #040D21;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;
                position: absolute;
                top: 20%;
                border: none;
            }
            #menuIcon {
                position: absolute;
                right: 10%;
            }
            #back {
                background-position: center;
                background-size: cover;
                background-color: #030710;
            }
            #left {
                display: none;
            }
            #right {
                display: none;
            }
            #nav {
                padding: 0 25px;
                width: 100%;
            }
            #nav a {
                display: none;
            }
            #overlay {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }
            #detailsOfOverlay {
                width: 90%;
                top: 26%;
                position: absolute;
                bottom: 10%;
                left: 7%;
                /* background-color: red; */
                color: #fff;
            }
            #detailsOfOverlay h1 {
                font-family: 'Playfair Display';
                font-weight: 100;
                line-height: 36px;
                font-size: 36px;
                margin-bottom: 15px;
            }
            #detailsOfOverlay p {
                font-size: 14px;
                line-height: 23px;
                margin-bottom: 20px;
            }
            #detailsOfOverlay a {
                padding: 10px 20px;
                background-color: transparent;
                color: #fff;
                font-family: 'Playfair Display';
                border: 1.2px solid white;
                outline: none;
            }
            #halfscreennav {
                align-items: flex-start;
                flex-direction: column;
            }
            .portion {
                min-height: 20vh;
                padding: 20px;
                width: 100%;
            }
            #go {
                top: 43%;
                left: 22%;
                width: 40%;
                height: 40%;
            }
            #grp261 {
                top: 20%;
                left: 70%;
            }
            #monthscroll {
                width: 300px;
                height: 100px;
                position: absolute;
                bottom: 0%;
                left: 10% !important;
            }
            #greyDiv {
                height: 173vh;
                padding: 20px;
            }
            #greyDiv h1 {
                font-size: 30px;
            }
            #greyDiv p {
                width: 100%;
                margin-top: 7px;
                font-size: 12px;
                line-height: 20px;
            }
            #collectionsDiv {
                flex-direction: column;
                margin-top: 30px;
                padding-left: 20px;
            }
            #oneDress {
                width: 100%;
            }
            #twoDress {
                margin-top: 0px;
                width: 100%;
                min-height: 700px;
                margin-top: 40px;
            }
            #twoDress>img {
                top: 32%;
                width: 110%;
            }
            #detailsTwoDress {
                width: 100%;
                margin-top: 10px;
                align-items: flex-start;
            }
            #detailsTwoDress h4 {
                text-align: left;
            }
            #detailsTwoDress p {
                text-align: left;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #about {
                margin-top: 10px;
            }
            #about #deals h1 {
                font-size: 30px;
            }
            #deals p {
                width: 100%;
                line-height: 20px;
                margin-top: 16px;
            }
            #floatingButton {
                border-radius: 2px;
                display: initial;
            }
            #floatingButton>i {
                top: 20%;
                left: 50%;
            }
            #nav img {
                background-color: #fff;
            }
            #navLinks {
                display: none;
            }
            /* problem of logo present here */
            #log {
                width: 30%;
            }
            /* problem of logo present here */
        }
        
        @media only screen and (max-height: 740px) {
            #sidebar>h6 {
                top: 65%;
            }
            #textonlandingpage p {
                font-size: 14px;
            }
        }
        
        @media only screen and (max-width: 450px) {
            #about {
                margin-top: 180px;
            }
        }
        
        @media only screen and (max-width: 421px) {
            #about {
                margin-top: 130px;
            }
        }
        
        @media only screen and (max-width: 330px) {
            #about {
                margin-top: 250px;
            }
        }